.Shivam {
    max-width: 400px;
    background-color:rgb(251, 244, 243);
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.hgn{
    color: #3B3F69;
    text-align: center;
    font-size: 25px;
}
.ghnnn{
    width: 100%;
    height: 30px;
}
.Shivam-group {
    margin-bottom: 15px;
}

.Shivam-label {
    display: block;
    margin-bottom: 5px;
}

input[type="number"],
select,
input[type="checkbox"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.uru {
    width: 100%;
    padding: 10px;
    background-color: #3B3F69;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.uru:hover {
    background-color: white;
    color: #3B3F69;

}
