
.causes_heading{
    font-size: 40px;
    padding-bottom: 5%;
}
.causepage_body{
    padding-left: 13%;
    padding-right: 13%;
    padding-top: 8%;
    padding-bottom: 8%;
    background-color:  rgb(251, 244, 243);
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    padding: 10%;
    margin: 8%;
    color:rgb(50, 49, 49);
}

.causepage_body .Causespage_h1{
    text-align: center;
    font-size: 40px;
    word-spacing: 1px;
    letter-spacing: 0.3px;
    padding-bottom: 3%;
}
.causespage_intro .Causespage_p,.Causespage_ul{
    text-align: left;
    font-size: 23px;
    word-spacing: 1px;
    letter-spacing: 0.3px;
}

.causespage_intro .Causespage_p{
    margin-top: 8px;
    word-spacing: 1px;
    letter-spacing: 0.3px;
}

.causespage_causes .Causespage_p{
    text-align: left;
    font-size: 23px;
    word-spacing: 1px;
    letter-spacing: 0.3px;
}

.types .Causespage_h1{
    text-align: left;
    font-size: 30px;
    word-spacing: 1px;
    letter-spacing: 0.3px;
}

.types .Causespage_h3{
    text-align: left;
    font-size: 23px;
    word-spacing: 1px;
    letter-spacing: 0.3px;
    padding-bottom: 2%;
}

.types{
    margin-top: 20px;
}