.consult_list{
    margin-left: 30%;
    margin-right: 30%;
}

.consult_container{
    border-radius: 10px;
    padding: 1rem;
    box-shadow: 0 0 20px 1px rgba(0,0,0,0.1);
    z-index: 1000;
    text-align: left;
    overflow: none;
    margin-bottom: 3%;
    margin-top: 3%;
    margin-left: 3%;
}
.consult_buttons ,  .consult_buttons a{
    margin-left: 1%;
    background-color:white;
    border:2px solid white;
    padding: 10px;
    font-size: 20px;
    border-radius: 5px;
    color: #3B3F69;
}
.consult_buttons:hover ,  .consult_buttons a:hover{
    background-color: #3B3F69;
    border:2px solid #3B3F69;
    color: white;
}
.consult_button:hover ,  .consult_button a:hover{
    background-color: white;
    border:2px solid white;
    color: #3B3F69;
}
.d44{
    font-size: 20px;
}
.consult_button , .consult_button a{
    background-color:#3B3F69;
    border:2px solid #3B3F69;
    padding: 10px;
    font-size: 20px;
    border-radius: 5px;
    color: white;
}

.consult_main_head{
    font-size: 20px;
    text-align: center;
}